In [1]:
from bs4 import BeautifulSoup as bs
soup = bs(open("wn-cmn-lmf.xml"),"xml")

In [ ]:
pa_child = {}
#Synset
tag = soup.LexicalEntry
#  <LexicalEntry id ='w201724'>
#       <Lemma writtenForm='符咒' partOfSpeech='n'/>
#       <Sense id='w201724_07159791-n' synset='cmn-10-07159791-n'/>
#       <Sense id='w201724_03603958-n' synset='cmn-10-03603958-n'/>
#    </LexicalEntry>
with open("child.txt","w") as f:
    while tag.name is not "Synset":
        tag_id = tag.Sense['synset']
        tag_name = tag.Lemma['writtenForm']  
        part = tag.Lemma['partOfSpeech']  #partofspeech
        i = 1
        pa_child[tag_id] = {}
        tag_name
        pa_child[tag_id][tag_name] = []
        while tag.Sense.next_sibling.next_sibling:
            
        pa_child[tag_id] = {}
        pa_child[tag_id][tag_name] = []

In [2]:

# index = pd.date_range('1/1/2000', periods=8)
# index

In [11]:
import pandas as pd
import numpy as np
df=pd.DataFrame(
    {
        'a':range(100),
        'b':np.random.rand(100),
        'c':[1,2,3,4]*25,
        'd':['apple', 'banana', 'carrot']*33 + ['apple']
    }
)
df.head()
# fpath = 'testt.csv'
# df = pd.DataFrame({'a': range(100), 
#                    'b':np.random.choice(['apple', 'banana', 'carrot'], 100)})
# df.to_csv(fpath, index=None)

# ### 隔行读取csv
# import csv

# with open(fpath, 'r') as f:
#     reader = csv.reader(f)
# #     reader.head()
#     out = []
#     for i, row in enumerate(reader):
#         if i%20 ==0:
#             out.append(row)
# pd.DataFrame(out[1:], columns=out[0])
# peak_locs

   a         b  c       d
0  0  0.914287  1   apple
1  1  0.947990  2  banana
2  2  0.612947  3  carrot
3  3  0.283029  4   apple
4  4  0.006715  1  banana