In [3]:
from bs4 import BeautifulSoup as bs
soup = bs(open("book.xml"),"xml")
soup

<?xml version="1.0" encoding="utf-8"?>
<Catalog>
<Book id="bk101">
<Author>Garghentini, Davide</Author>
<Title>XML Developer's Guide</Title>
<Genre>Computer</Genre>
<Price>44.95</Price>
<PublishDate>2000-10-01</PublishDate>
<Description>An in-depth look at creating applications
      with XML.</Description>
</Book>
<Book id="bk102">
<Author>Garcia, Debra</Author>
<Title>Midnight Rain</Title>
<Genre>Fantasy</Genre>
<Price>5.95</Price>
<PublishDate>2000-12-16</PublishDate>
<Description>A former architect battles corporate zombies,
      an evil sorceress, and her own childhood to become queen
      of the world.</Description>
</Book>
</Catalog>

In [40]:
tag = soup.Book
tag.Author

In [19]:
tag['id']

'bk101'

In [60]:
x = tag['id'] + ' ' + tag['id']
type(x)
a = 1
if not a == 1:
    print("not 1")
else:
    print("is 1")

is 1

In [59]:
# tag2 = soup.Author.next_sibling.next_sibling
a = soup.Book.next_sibling
tag2 = a.next_sibling
print(type(tag2.name))
if not tag2.name == 'Book':
    print("no Book")
else:
    print("is book")

<class 'str'>
is book

In [4]:
a = 'cmn-10-02525868-v'
#eng-30-
b = a.split('-')
c = b[2]  + b[3]
c

'02525868v'

In [3]:
x = {}
x['id'] = {}
x['id']['name+'] = []
x['id']['name+'].append("id1")
x['id']['name+'].append("id2")
x['id1'] = 1
a = x['id']['name+'][0]
b = 1
for i in x:
    print (i)
#     a = i.replace("1","")
#     print(a)

id
id1

In [3]:
from nltk.corpus import wordnet as wn
# try:
#     syn = wn.of2ss('14869976n')  #说明这个id没有出现在英文单词中  或者说没有对应的英文单词
# except:
#     print("error")
#     print(syn)
# else:
#     print("no error")
ss = wn.synset('silicon.n.01')
a = ss.hypernyms()
b = a[0]
b
    # ss = wn.synset('dog.n.01')
# syn
# ss = syn
# # # ss
# offset = []
# # a = ss.hypernyms() #上位词
# # for name in a:
# #     ii = str(name.offset()).zfill(8) + '-' + name.pos()
# #     offset.append(ii)
# # offset
# a = ss.hyponyms()  #下位词  
# if a:
#     print("yes")
# else:
#     print("no")
# offset = str(ss.offset()).zfill(8) + '-' + ss.pos()
# offset

# >>> dog = wn.synset('dog.n.01')
# >>> dog.hypernyms()
# [Synset('canine.n.02'), Synset('domestic_animal.n.01')]
# >>> dog.hyponyms()  # doctest: +ELLIPSIS
# [Synset('basenji.n.01'), Synset('corgi.n.01'), Synset('cur.n.01'), Synset('dalmatian.n.02'), ...]
# >>> dog.member_holonyms()
# [Synset('canis.n.01'), Synset('pack.n.06')]
# >>> dog.root_hypernyms()
# [Synset('entity.n.01')]
# >>> wn.synset('dog.n.01').lowest_common_hypernyms(wn.synset('cat.n.01'))
# [Synset('carnivore.n.01')]

Synset('chemical_element.n.01')

In [10]:
a = {}
a['id'] = []
a['id'].append("name")
a['id'].append('1')
# a['id'][1].append("1")
len(a['id'])
# a

2

In [14]:
a = ["1","2","3"]
for x in a[::-1]:
    print(x)
if 3 > 2:
    print("yes")

3
2
1
yes

In [10]:
# import string
a = "我的+1"
# a.translate(str.maketrans('+',''))
a = a.replace("+","")
a

'我的1'

In [10]:
a = []
a.append('我的')
a.append('你的')
for i in reversed(a):
    print(i)

你的
我的

In [2]:
a = ['我的','你的']

if '我' in a:
    print("yes")
else:
    print("no")

no

In [2]:
import pandas as pd
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],index=['cobra', 'viper', 'sidewinder'],columns=['max_speed', 'shield'])
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [7]:
df.loc[['viper','cobra']]

       max_speed  shield
viper          4       5
cobra          1       2

In [13]:
a = {}
a[1] = {}
a[1][2] = []
a[1][2].append(1)
a[1][2].append(2)
# a[1][2].pop(2)
a[1][2].remove(2)
a

{1: {2: [1]}}